@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9fafb;
    --foreground: #0b0603;
    --card: #ffffff;
    --card-foreground: #0b0603;
    --popover: #ffffff;
    --popover-foreground: #0b0603;
    --primary: #ef0f1a;
    --primary-500: #ff313b;
    --primary-700: #ca0b14;
    --primary-foreground: #f9f8f5;
    --secondary: #f5f4f1;
    --secondary-foreground: #6b7280;
    --muted: #f3f4f6;
    --muted-foreground: #9ca3af;
    --accent: #e5e7eb;
    --accent-foreground: #6b7280;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: #f9f8f5;
    --border: #f3f4f6;
    --input: #e5e7eb;
    --ring: #ef0f1a;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground tracking-wide;
  }
}

@layer components {
  .title {
    @apply text-3xl font-bold;
  }
}
